#form {
	position: fixed;
	right: 0;
	top: 50px;
	border-bottom-left-radius: 1rem;
	transition: all 0.1s ease;
	width: max-content;
}
#form .bloc {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.116);
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}
#form .bloc:hover {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.26);
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
}
#form .bloc .input,
#form .bloc .range {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* background-color: rgb(209, 20, 20); */
}

#form.active {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#form:not(.active) {
	display: initial;
	right: -500px;
	top: -500px;
	transition: all 0.3s ease;
}

#form #tools {
	position: fixed;
	right: 0;
	top: 0;
	background-color: white;
	color: black;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-bottom-left-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 1rem;
}

#form #tools:after {
	position: absolute;
	content: "🥪";
}

#form #tools:hover {
	transform: scale(1.6);
}

#form .bloc > div {
	color: white;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#form.active #tools:after {
	position: absolute;
	content: "🍔";
}
.title {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/** FF*/
input[type="range"] {
	border-radius: 0.5rem;
	background-color: #464646;
	border: 1px solid rgb(160, 160, 160);
	overflow: hidden;
}

input[type="range"]::-moz-range-progress {
	height: 100%;
	background-color: #ffffff;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

input[type="range"]::-moz-range-track {
	background-color: #575757;
}

#bgr[type="range"]::-moz-range-progress,
#bgr[type="range"]::-moz-range-track {
	background-color: #ff0000;
}

#bgg[type="range"]::-moz-range-progress,
#bgg[type="range"]::-moz-range-track {
	background-color: #00ff00;
}

#bgb[type="range"]::-moz-range-progress,
#bgb[type="range"]::-moz-range-track {
	background-color: #0000ff;
}

#bga[type="range"] {
	/* background-color: #000000; */
}

#bga[type="range"]::-moz-range-progress {
	background-color: #ffffff;
}

#bga[type="range"]::-moz-range-track {
	background-color: #ffffff;
}

/* IE*/
/* input[type="range"]::-ms-fill-lower {
				background-color: #014605;
			}

			input[type="range"]::-ms-fill-upper {
				background-color: #0004e0;
			} */

/*Chrome*/
/* input[type='range'] {
				overflow: hidden;
				background-color: black;
				color: white;
			}

			input[type='range']::-webkit-slider-runnable-track {
				color: #ff0000;
				background-color: none;
				margin-top: -1px;
			}

			input[type='range']::-webkit-slider-thumb {
				cursor: ew-resize;
				background: #51ff00;
				box-shadow: none;
			} */
